nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navlinks
{
    width: 40%;
}
.navlinks ul
{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}